<div class="main-container container-fluid">
  <div class="card border-primary">
    <div class="card-header">
      <img class="img-fluid mx-auto d-block" src="assets/logo-dito.png" alt="Logo Dito">
    </div>
    <div class="card-body">
      <tabset [justified]="true" type="pills">
        <tab heading="Autocomplete">
          <app-events></app-events>
        </tab>
        <tab heading="Timeline">
          <app-timeline></app-timeline>
        </tab>
      </tabset>
    </div>
  </div>
</div>

